

body {background-color: #E7F5ED;} 
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.wrapper .sidebar ul li a:hover {position: relative; right: -5px ;}


.wrapper { display: flex; 
 position: relative;
}

 .wrapper .sidebar { position: fixed;
width: 200px;
height: 80%;
background: #DDEAE3; 
padding:  45px 0}

.wrapper .sidebar ul li {
  margin: 10px 0;
}

.wrapper .sidebar ul li a {
color: black;
display: block;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 210px;
}

.wrapper .main_content .header {margin-top: 15px}

.wrapper .main_content .contact {margin-top: 50px;}

.wrapper .main_content .whatever ul li {
  margin: 10px 0;
}

hr { display: block; height: 1px;
  border: 0; border-top: 1px solid black;
  margin: 1.2em 0; padding: 0; }